.book-preview{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.book-actions{
    display: flex;
    justify-content: center;
}

.book-preview .on-sale{
    position: absolute;
    width: 50%;
    left: -30px;
    top: -75px; 
    filter: drop-shadow(5px 5px 5px var(--main-clr));
}

