
.book-list{
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 2px solid black; */
}

.book-list li{
    /* border: 2px solid black; */
    width: 300px;
    margin-bottom: 20px;
    background-color: var(--clrbg-second);
    padding: 5px;
    justify-content: center;

}

