:root {
  --clr1: #222a54;
  --clr2: rgb(98, 20, 60);

  --clr1bg: rgb(153, 166, 149);
  --clr1bg-light: rgb(205, 221, 200);
  --clr2bg: rgb(233, 206, 221);
  --clr2bg-light: rgb(247, 185, 219);

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

  --main-clr: #222a54;
  --main-clr-light: #4d5477;
  --main-contrast: #ce798e;
  --main-contrast-light: #e9b1bf;

  --clr-change: #696c9f;
  --clrbg-main: #e7e8ff;
  --clrbg-second: #ffe0e7;


} 